body{
    background-color: black;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Gorditas", serif;
;
}

main{
    background-color: #222222;
    width: 50vw;
       padding: var(--grid-gap);
    margin:auto;
    color:white;
    display: grid;
       gap: var(--grid-gap);
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(6, 60px);
}

header, section, footer{
    border: 5px solid black;
    border-radius: 5px;
    background-color:#635CDD;
    display:flex;
    justify-content: center;
    align-items: center;
  
}

header, footer{
    grid-column: span 3;
}

.sidebar{
    grid-row: span 4
}

.content{
    grid-row:span 2
}

#content-1{
    grid-column: span 2;
}

.gorditas-regular {
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}

.gorditas-bold {
  font-family: "Gorditas", serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width:400px){
    main {
        font-size: 30px;
        color: darkred;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    main {
        font-size: 60px;
        color: darkgreen;
    }
}

@media (min-width: 800px){
    main {
        font-size: 90px;
        color: darkblue;
    }
}

:root{
    --grid-gap: 35px
}